html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  position:absolute; top:3vh; bottom:0; right:0; left:0;
  font-size: 3vh;

}

.card-img-top{max-height: 50vh; object-fit: cover;}

.card {height:75vh;}

#top_row{
  margin-bottom: 3vh;
  font-size: 2.5vh;
  text-align: center;}

#score_css, #p1score_css, #p2score_css{
  margin-top: 3vh;
  font-size: 3vh;
  text-align: right;
}

#vs {
    top: 50vh;
    display: block;
    margin-left:auto;
    margin-top: 100%;
    align-content: center;
    text-align: center;
    margin-right: auto;
    font-size: 7vh;
}



